/* Загальні стилі для body та html */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Основний контейнер для карти */
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Стилі для карти, щоб вона займала весь екран */
#ukraine-map {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Дозволяє зберігати пропорції карти */
}

/* Контейнер для інформації, чекбоксів та кнопки */
#info-container {
    position: fixed;
    /* Фіксуємо праворуч */
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Вирівнюємо по лівому краю */
    z-index: 10;
    /* Розташування поверх карти */
    background-color: rgba(255, 255, 255, 0.8);
    /* Легкий фон, щоб зробити блок видимим */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Стилі для чекбоксів */
label {
    margin-top: 10px;
}

/* Кнопка "Початок гри" */
#start-game {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Виведення випадкового регіону */
.random-region-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    display: none;
}

/* Стилізація для таймера та рахунку */
.game-info {
    display: flex;
    flex-direction: column; /* Встановлює елементи в колонку */
    align-items: flex-start; /* Вирівнює елементи по лівому краю */
    gap: 5px; /* Відступ між елементами */
}

.timer,
.score {
    font-size: 18px; /* Розмір шрифту для зручності читання */
    margin: 0; /* Скидання відступів */
}


/* Для таймера і рахунку додаємо деякі відступи */
.timer {
    color: #ff5733;
    /* Оранжевий колір для таймера */
}

.score {
    color: #4caf50;
    /* Зелений колір для рахунку */
}